html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/
* {
  font-family: "arial", "sans-serif";
}
header {
  height: 48px;
  padding: 6px;
}
.image-resize {
  height: 16px;
  width: auto;
}
header .header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;



}
header .header-list li {
  padding: 0px 0px 0px 15px;
  font-size: 13px;


}
header .header-list li:nth-child(2) {
  padding-right: 15px;
}
header .header-list li a {
  text-decoration: none;
  color: #5f6368;
}
header .header-list li img {
  padding: 8px;
  color: grey;
}
.top-box {
  text-align: center;
}
.top-box .block {

}
.top-box img {
  align-items: flex-end;
}
.middle-box-items .input {
  display: block;
  margin: 0 auto;
  padding: 13px 8px 13px 14px;
  width: 582px;
  border-radius: 25px;
  border-color: #5f6368;
}
.middle-box-items {
  padding: 20px;
}
.middle-box-items .microphone  {
  position: relative;
  left: 930px;
  bottom: 29px;
}
.middle-box-items .search{
  position: relative;
  left: 350px;
  bottom: 29px;
}
.middle-box-button {
  text-align: center;
  margin: 0px auto;
  width: 584px;
  padding: 18px 0px 0px;

}
.middle-box-button button {
  margin: 11px 4px;
  font-size: 14px;
  padding: 0px 16px;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  margin: 11px 4px;
}
.languages ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding-top: 18px;
}
.languages ul li {
  padding: 0px 3px;
  margin: 0px 0px 24px;
  font-size: 13px;
  font-family: "arial", "sans-serif";

}
.languages ul a {
  text-decoration: none;
}
footer {
  min-height: 84px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 13px;
  background-color: #f2f2f2;
  min-height: 84px;

}
.top-footer {
  padding: 15px 30px;
}
.top-footer p {
  color: #5f6368;
}
.bottom-footer {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #5f6368;

}
.bottom-footer ul {
  display: flex;
  list-style: none;
}
.bottom-footer ul li {
  padding: 15px;
  color: #5f6368;

}
.bottom-footer ul li a {
  text-decoration: none;
  color: #5f6368;
}
